body {
  background: none;
  padding-top: 0;
}
#main-content {
  #map, #infoPanel {
    width: 710px;
  }
}

.navbar-brand {
  max-width: 375px;
}

header {
  background: #fff;
}

.us-heading {
  background-color: #205493;
  padding-top: 20px;
  padding-bottom: 20px;
  h1 {
    color: white;
  }
}

body.contrast-high {
  .us-heading {
    background-color: black;
  }
  #page-content {
    .alert {
      p, h4 {
        color: black;
      }
    }
  }
  #disclaimer {
    .alert {
      color: white;
    }
  }
}

.indicator-cards>div {
  width: 100%;
}

#disclaimer {
  background: #eaeaea;
  font-size: 14px;

  .alert {
    margin-bottom: 0;
    padding: 10px 0;
  }

  @media only screen and (max-width: 680px) {
    font-size: 0.75em;
  }
}
