---
# custom styles
---
#main-content {
  #map, #infoPanel {
    width: 710px;
  }
}

.navbar-brand {
  max-width: 375px;
}


.us-heading {
  background-color: #205493;
  padding-top: 20px;
  padding-bottom: 20px;
}

body.contrast-high {
  .us-heading {
    background-color: black;
  }
  #page-content {
    .alert {
      p, h4 {
        color: black;
      }
    }
  }
  #disclaimer {
    .alert {
      color: white;
    }
  }
}

.indicator-cards>div {
  width: 100%;
}


body {
  padding: 0;
}

header {
  background: #fff;
}

#disclaimer {
  background: #eaeaea;
  position: relative;

  @media only screen and (max-width: 680px) {
    font-size: 0.75em;
  }
}

.usa-banner {
  background-color: inherit !important;
  &__header {
    background: #eaeaea;
  }
  @at-root #{&}__header &__inner {
    max-width: none;
  }
}

footer.usa-footer {
  height: auto;
  a {
    color: #595959;
  }
}
