<script type="text/javascript">

var sdg_indicators = sdg_indicators || {};

// Stub functions for each type of data visualization. Each of these should be
// overridden for any implementation of an indicator data source.
sdg_indicators.indicatorTableAdapter = function(e) { throw "indicatorTableAdapter not implemented." };
sdg_indicators.indicatorGraphLineAdapter = function(e) { throw "indicatorGraphLineAdapter not implemented." };
sdg_indicators.indicatorGraphLineRateAdapter = function(e) { throw "indicatorGraphLineRateAdapter not implemented." };
sdg_indicators.indicatorGraphBarAdapter = function(e) { throw "indicatorGraphBarAdapter not implemented." };
sdg_indicators.indicatorGraphBarRateAdapter = function(e) { throw "indicatorGraphBarRateAdapter not implemented." };
sdg_indicators.indicatorGraphBinaryAdapter = function(e) { throw "indicatorGraphBinaryAdapter not implemented." };

// Event listener for whenever the data comes back.
document.addEventListener('IndicatorDataReady', function(e) {
  sdg_indicators.indicatorTableAdapter(e);
  sdg_indicators.indicatorGraphLineAdapter(e);
  sdg_indicators.indicatorGraphLineRateAdapter(e);
  sdg_indicators.indicatorGraphBarAdapter(e);
  sdg_indicators.indicatorGraphBarRateAdapter(e);
  sdg_indicators.indicatorGraphBinaryAdapter(e);
}, false);

</script>