<div id="page-content">
  {% assign sdg_data_notices = site.data.sdg_data_notices %}
  {% capture site_generated_timestamp %}{{'now' | date: '%s'}}{% endcapture %}

  {% for sdg_data_notice in sdg_data_notices %}

    {% if sdg_data_notice.indicator_id == page.indicator %}
      {% capture data_notice_start %}{{sdg_data_notice.start_date | date: '%s'}}{% endcapture %}
      {% capture data_notice_end %}{{sdg_data_notice.end_date | date: '%s'}}{% endcapture %}

      {% if site_generated_timestamp > data_notice_start %}
      {% if data_notice_end > site_generated_timestamp %}

        <div class="alert warning" >
          <h4>{{ t.data_notice.data_notice }}</h4>
          <p>{{ t.data_notice[sdg_data_notice.notice] }}</p>
        </div>

      {% endif %}
      {% endif %}

    {% endif %}
  {% endfor %}

  {{ meta.page_content | markdownify }}
</div>
