{% include head.html %}

{% include header.html %}

{% assign t = site.translations | where:"translation_id", "frontpage"  | first %}
{% assign t = t[page.lang] %}

        <div id="main" class="main-content" role="main">

            <a id="main-content" tabindex="-1"></a>
            <section class="usa-banner">
                <div class="usa-grid">

                    <div class="usa-banner-content">
                        <h1>
                            {{ t.main-heading }}
                        </h1>

                    </div>

                </div>
            </section>

            <section class="usa-section">
                <div class="usa-grid">
                            <div class="usa-font-lead intro-paragraph">
                               {{ t.intro-text }}
                            </div>
                    

                    <section class="goals-list">
                    {% if page.lang == 'en' %}
                        {% assign sdg_goals = site.data.sdg_goals %}
                    {% else %}
                        {% assign sdg_goals = site.data[page.lang].sdg_goals %}
                    {% endif %}

                    {% for goals in sdg_goals %}

                    {% assign english_goal = goals %}
                    {% if page.lang != 'en' %}
                        {% for untranslated_goal in site.data.sdg_goals %}
                            {% if untranslated_goal.goal == goals.goal %}
                                {% assign english_goal = untranslated_goal %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% assign img_path = goals.goal | plus:0 %}

                    {% if img_path < 10 %}
                        {% assign img_path = 0  %}
                    {% else %}
                        {% assign img_path = ''  %}
                    {% endif %}


                    <a class="usa-width-one-fourth" href="../{{ english_goal.short | slugify }}/">
                    <img class="goal-icon" src="{{ site.baseurl }}/assets/img/{{ page.lang }}/{{ page.lang }}-sdg-goal-{{ img_path }}{{ goals.goal }}.png" alt="icon for Goal {{ goals.goal }} - {{ goals.title }}" />
                    </a>                    

                    {% endfor %}

                    <div class="usa-width-one-fourth">
                      <a href="{{ site.baseurl }}">      
                        <img class="goal-icon" src="{{ site.baseurl }}/assets/img/{{ page.lang }}/{{ page.lang }}-sdg-goals-logo.png" alt="icon for Global Goals" />
                      </a>
                    </div>                    

                    </section>

                </div>

            </section>


        </div>

{% include footer.html %}
