{% include head.html %}

{% include header.html %}

{% assign t = site.translations | where:"translation_id", "indicator"  | first %}
{% assign t = t[page.lang] %}

{% if page.lang == 'en' %}
    {% assign sdg_goals = site.data.sdg_goals %}
{% else %}
    {% assign sdg_goals = site.data[page.lang].sdg_goals %}
{% endif %}

      <div id="main" class="main-content initiative-content">

        <a id="main-content" tabindex="-1"></a>
        <section class="usa-banner">
            <div class="usa-grid">
                <div class="usa-banner-content">
                  <h2 class="goal-heading">

                    {% for goals in sdg_goals %}

                      {% assign page_goal_num = page.sdg_goal | plus:0 %}
                      {% assign goals_goal_num = goals.goal | plus:0 %}

                      {% if page_goal_num == goals_goal_num %}

                        <a href="{{ site.baseurl }}/{{ goals.short | slugify }}">
                        Goal {{ goals.goal }} - {{ goals.title }}
                        </a>

                      {% endif %}

                    {% endfor %}
                  </h2>
                </div>
            </div>
        </section>

        <div class="usa-grid initiative-description">
          

{% assign slug = page.indicator | replace: '.', '-' %}
{% assign dataset_name = 'indicator_' | append: slug %}

{% if page.lang == 'en' %}
    {% assign sdg_indicators = site.data.sdg_indicator_metadata %}
{% else %}
    {% assign sdg_indicators = site.data[page.lang].sdg_indicator_metadata %}
    {% assign page = site.indicators | where:"indicator", page.indicator  | first %}
{% endif %}

{% for indicators in sdg_indicators %}
{% if indicators.indicator_id == page.indicator %}
  {% assign this_sdg_indicator_metadata = indicators %}  
{% endif %}
{% endfor %}

{% assign indicator_title = this_sdg_indicator_metadata.indicator %}

<h3>{{ t.sub-subtitle }} {{ page.indicator }} - {{ indicator_title }}</h3>


{% assign sdg_data_notices = site.data.sdg_data_notices %}
{% capture site_generated_timestamp %}{{'now' | date: '%s'}}{% endcapture %}

{% for sdg_data_notice in sdg_data_notices %}

  {% if sdg_data_notice.indicator_id == page.indicator %}
    {% capture data_notice_start %}{{sdg_data_notice.start_date | date: '%s'}}{% endcapture %}
    {% capture data_notice_end %}{{sdg_data_notice.end_date | date: '%s'}}{% endcapture %}

    {% if site_generated_timestamp > data_notice_start %}
    {% if data_notice_end > site_generated_timestamp %}

      <div class="usa-alert usa-alert-info" >
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">Data Notice</h3>
          <p class="usa-alert-text">
            {{ sdg_data_notice.notice }}
          </p>
        </div>
      </div>

    {% endif %}
    {% endif %}

  {% endif %}
{% endfor %}

<!-- Main content -->
{{ page.content }}
<!-- / Main content -->

{% if page.graph == 'bar' or page.graph == 'longitudinal' or page.graph == 'binary' %}

{% assign graph_type = page.graph %}

{% if page.graph == 'longitudinal' %}
  {% assign graph_type = 'line' %}
{% endif %}

{% assign graph_template = 'components/' | append: graph_type | append: '.html' %}

  <h4>{{ page.graph_title }}</h4>
  {% include {{graph_template}} %}
{% endif %}

<div>
      <aside id="secondary" class="related plm-mu"><h4>{{ t.tab-instructions }}</h4></aside>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">{{ t.data }}</a></li>
    <li role="presentation"><a href="#metadata" aria-controls="metadata" role="tab" data-toggle="tab">{{ t.metadata }}</a></li>
    {% if site.github.environment == 'dotcom' %}
    <li role="presentation"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">{{ t.editing }}</a></li>
    {% endif %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="data">

      {% if page.graph == 'bar' or page.graph == 'longitudinal' or page.graph == 'binary' %}

        {% include components/table.html %}

      {% else %}

        <p style="text-align: center;">When data sources are populated, the table will appear here</p>

      {% endif %}

    </div>
    <div role="tabpanel" class="tab-pane" id="metadata">
      <div class="metadata-table">
    
      <h2>Global Metadata</h2>
      <p class="metadata-notes">
        {{ t.this-table }} <a href="{{ this_sdg_indicator_metadata.goal_meta_link }}">{{ t.documentation }} {{ page_goal_num }}</a>{{ t.provided }}
      </p>

{% assign indicator_decimals = page.indicator | split: '.'  %}

{% assign goal_num = indicator_decimals[0] | plus:0  %}
{% assign target_num = indicator_decimals[1] | plus:0  %}
{% assign indicator_num = indicator_decimals[2] | plus:0  %}

{% if goal_num < 10 %} {% assign goal_num = goal_num | prepend:0  %} {% endif %}
{% if target_num < 10 %} {% assign target_num = target_num | prepend:0  %} {% endif %}
{% if indicator_num < 10 %} {% assign indicator_num = indicator_num | prepend:0  %} {% endif %}

      <p>

        {% if page.indicator == "1.1.1" or page.indicator == "1.3.1" or page.indicator == "2.2.2"  or page.indicator == "17.19.2"  %}

          <a class="usa-button" href="https://unstats.un.org/sdgs/metadata/files/Metadata-{{ goal_num }}-{{ target_num }}-{{ indicator_num }}a.pdf">See UN metadata for {{ page.indicator }} (a)</a>
          <a class="usa-button" href="https://unstats.un.org/sdgs/metadata/files/Metadata-{{ goal_num }}-{{ target_num }}-{{ indicator_num }}b.pdf">See UN metadata for {{ page.indicator }} (b)</a>

        {% else %}

          <a class="usa-button" href="https://unstats.un.org/sdgs/metadata/files/Metadata-{{ goal_num }}-{{ target_num }}-{{ indicator_num }}.pdf">See UN metadata for {{ page.indicator }}</a>

        {% endif %}

      </p>
      <table>

        {% for indicator_metadata in site.prose.metadata._indicators %}

          {% if indicator_metadata.field.scope == "global" %}
        <tr>
          <th>  {{ indicator_metadata.field.label }} </th>
          <td>  {{ page[indicator_metadata.name] }} </td>
        </tr>
          {% endif %}

        {% endfor %}

      </table>


      <h2>{{ t.country }} {{ t.metadata }}</h2>
      <p class="metadata-notes">
        This table provides metadata for the actual indicator available from {{ t.country }} statistics closest to the corresponding global
        SDG indicator. Please note that even when the global SDG indicator is fully available from {{ t.country }} statistics, this table
        should be consulted for information on national methodology and other {{ t.country }}-specific metadata information.
      </p>

      <table>

        {% for indicator_metadata in site.prose.metadata._indicators %}

          {% if indicator_metadata.field.scope != "global" %}
        <tr>
          <th>  {{ indicator_metadata.field.label }} </th>
          <td>  {{ page[indicator_metadata.name] }} </td>
        </tr>
          {% endif %}

        {% endfor %}

      </table>
      </div>



    </div>

    {% if site.github.environment == 'dotcom' %}
    <div role="tabpanel" class="tab-pane" id="edit">
      <div class="edit-container">

        <a class="btn btn-primary" href="http://prose.io/#{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/data/indicator_{{ page.indicator | slugify }}.csv">Edit Data</a>

        <a class="btn btn-primary" href="http://prose.io/#{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/_indicators/{{ page.indicator | slugify }}.md">Edit Metadata</a>

      </div>
    </div>
    {% endif %}


  </div>
    <!-- / Tab panes -->

{% capture six_months_ago %}{{'now' | date: '%s' | minus:15770000}}{% endcapture %}
{% capture last_update %}{{page.date_metadata_updated | date: '%s'}}{% endcapture %}
{% if last_update > six_months_ago %}
  This was updated within the last six months (on {{page.date_metadata_updated | date: '%B %e, %Y'}})
{% endif %}

</div>





      </div>   <!-- usa-grid -->
      
    </div>
    

{% include scripts.html %}

{%- if page.graph -%}
{% include indicator_data_source/base.html graph_type=graph_type %}
{% include indicator_data_source/{{ page.indicator_data_source }}.html graph_type=graph_type %}
{%- endif -%}
    
{% include footer.html %}
