{% include head.html %}

{% include header.html %}

      <div id="main" class="main-content initiative-content status-dashboard">


        <section class="usa-banner banner-small">
            <div class="usa-grid">
                <div class="usa-banner-content">
                  <h1>{{ page.title }}</h1>
                </div>
            </div>
        </section>

        <div class="usa-grid">
          {{ content }}

          <h4>Overall Reporting Status</h4>
          <div class="usa-grid-full">
              <span class="badge" style="background-color: #333;">240</span>
          </div>
          <div class="usa-width-one-whole">
              <div class="progress progress-top" style="margin-top: 18px;">
                <div class="progress-bar progress-bar-danger" style="width:{{ unsourced_percent }}%">
                  <span class="sr-only">Unsourced {{ unsourced_percent }}%</span>
                </div>
                <div class="progress-bar progress-bar-warning" style="width:{{ compiling_percent }}%">
                  <span class="sr-only">Compiling {{ compiling_percent }}%</span>
                </div>
                <div class="progress-bar progress-bar-success" style="width:{{ finalized_percent }}%">
                  <span class="sr-only">Finalized {{ finalized_percent }}%</span>
                </div>
              </div>
            </div>
        </div>
            
        <div class="usa-grid initiative-description">
      
          <h4>Status by Goal</h4>

          <ul class="usa-accordion-bordered">

          {% if page.lang == 'en' %}
              {% assign goals = site.data.sdg_goals %}
          {% else %}
              {% assign goals = site.data[page.lang].sdg_goals %}
          {% endif %}

          {% for goal in goals %}

          {% assign this_goal = goal.goal | plus:0 %}

          {% assign indicators_count = 0 %}

          {% assign unsourced_data = 0 %}
          {% assign compiling_statistic = 0 %}
          {% assign finalized_reporting = 0 %}

          {% assign unsourced_percent = 0 %}
          {% assign compiling_percent = 0 %}
          {% assign finalized_percent = 0 %}

          {% for indicator in site.indicators %}
            
              {% if indicator.sdg_goal == this_goal %}

                      {% assign indicators_count = indicators_count | plus:1 %}
                      {% assign unsourced_data = unsourced_data | plus:1 %}

                      {% if indicator.source_url != nil AND indicator.source_url != "" %}
                        {% assign unsourced_data = unsourced_data | minus:1 %}
                        {% assign compiling_statistic = compiling_statistic | plus:1 %}

                        {% if indicator.graph != nil AND indicator.graph != "" %}
                          {% assign compiling_statistic = compiling_statistic | minus:1 %}
                          {% assign finalized_reporting = finalized_reporting | plus:1 %}
                        {% endif %}

                      {% endif %}

              {% endif %}
            
          {% endfor %}

          {% assign indicators_count = indicators_count | round: 1 %}

          {% assign unsourced_percent = unsourced_data | divided_by:indicators_count | times:100 %}
          {% assign compiling_percent = compiling_statistic | divided_by:indicators_count | times:100 %}
          {% assign finalized_percent = finalized_reporting | divided_by:indicators_count | times:100 %}

          {% assign indicators_count = indicators_count | round %}

          {% if this_goal < 10 %}
              {% assign img_path = 0  %}
          {% else %}
              {% assign img_path = ''  %}
          {% endif %}

          <li>
            <button class="usa-accordion-button" aria-controls="amendment-b-{{ goal.goal }}">
              {{ goal.goal }}. {{ goal.short }}
            </button>
            <div id="amendment-b-{{ goal.goal }}" class="usa-accordion-content">

              <div class="media usa-grid-full">

                <div class="usa-width-one-sixth">
                  <div class="media-left">
                    <a href="{{ site.baseurl }}/{{ goal.short | slugify }}/">

                        <img class="media-object" src="{{ site.baseurl }}/assets/img/bw/{{ img_path }}{{ this_goal }}.png" width="100%" height="calc(1 * width)" alt="{{ goal.short}}">

                    <span class="sr-only">
                          {{ goal.title}}
                    </span>
                    </a>
                  </div>
                </div> 

                <div class="usa-width-five-sixths">

                   <div class="usa-grid-full">
                     <span class="badge" style="background-color: #333;">{{ indicators_count }}</span>
                   </div>

                   <div class="media-body">

                      <div class="usa-grid-full status-traffic-statbox" style="margin-top: 18px;">
                        <div class="usa-width-one-third">
                          {{ unsourced_percent | round }}% exploring data sources <span class="label label-danger">{{ unsourced_data }}</span>
                        </div>
                        <div class="usa-width-one-third">
                          {{ compiling_percent | round }}% statistics in progress <span class="label label-warning">{{ compiling_statistic }}</span>
                        </div>
                        <div class="usa-width-one-third">
                          {{ finalized_percent | round }}% reported online <span class="label label-success">{{ finalized_reporting }}</span>
                        </div>
                      </div>

                      <div class="usa-width-one-whole">
                        <div class="progress" style="margin-top: 18px;">
                          <div class="progress-bar progress-bar-danger" style="width:{{ unsourced_percent }}%">
                            <span class="sr-only">Unsourced {{ unsourced_percent }}%</span>
                          </div>
                          <div class="progress-bar progress-bar-warning" style="width:{{ compiling_percent }}%">
                            <span class="sr-only">Compiling {{ compiling_percent }}%</span>
                          </div>
                          <div class="progress-bar progress-bar-success" style="width:{{ finalized_percent }}%">
                            <span class="sr-only">Finalized {{ finalized_percent }}%</span>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
                <div class="media usa-grid-full">
                  <table>
                    <thead>
                      <tr>
                        <th>Tier</th>
                        <th>Status</th>
                        <th>Indicator</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for indicator in site.indicators %}
                                          
                          {% if indicator.sdg_goal == this_goal %}
                            
                            {% assign indicator_status = "Unsourced Data" %}
                            {% assign status_label = "danger" %}

                            {% if indicator.source_url != nil AND indicator.source_url != "" %}
                              {% assign indicator_status = "Compiling Statistics" %}
                              {% assign status_label = "warning" %}

                              {% if indicator.graph != nil AND indicator.graph != "" %}
                                {% assign indicator_status = "Reported Online" %}
                                {% assign status_label = "success" %}
                              {% endif %}

                            {% endif %}

                                  <tr>
                                    <td>{{ indicator.un_designated_tier }}</td>
                                    <td><span class="label label-{{ status_label }}">{{ indicator_status }}</span></td>
                                    <td><a href="{{ site.baseurl }}{{ indicator.permalink }}">{{ indicator.indicator }} {{ indicator.title }}</a></td>
                                  </tr>

                          {% endif %}
                        
                      {% endfor %}
                  </tbody>
                  </table>
                </div>
              </div>
            </li>
      {% endfor %}
      </ul>



      </div>
      
    </div>
    
{% include footer.html %}
