{% include head.html %}

{% include header.html %}

{% assign t = site.translations | where:"translation_id", "status"  | first %}
{% assign t = t[page.lang] %}

    <div id="main" class="main-content initiative-content status-dashboard">

        <a id="main-content" tabindex="-1"></a>
        <section class="usa-banner banner-small">
            <div class="usa-grid">
                <div class="usa-banner-content">
                  <h1>{{ t.page-title }}</h1>
                </div>
            </div>
        </section>

        <div class="usa-grid">
            {{ content }}

            {% assign indicators_count = 0 %}

            {% assign unsourced_data = 0 %}
            {% assign compiling_statistic = 0 %}
            {% assign finalized_reporting = 0 %}
            {% assign tier3 = 0 %}

            {% assign unsourced_percent = 0 %}
            {% assign compiling_percent = 0 %}
            {% assign finalized_percent = 0 %}
            {% assign tier3_percent = 0 %}

            {% for indicator in site.indicators %}            

                {% if indicator.lang == site.defaults[0].values.lang %}

                    {% assign indicators_count = indicators_count | plus:1 %}

                    {% if indicator.un_designated_tier != '3' %}
                        {% assign unsourced_data = unsourced_data | plus:1 %}

                        {% if indicator.source_url != nil and indicator.source_url != "" %}
                          {% assign unsourced_data = unsourced_data | minus:1 %}
                          {% assign compiling_statistic = compiling_statistic | plus:1 %}

                          {% if indicator.graph != nil and indicator.graph != "" %}
                            {% assign compiling_statistic = compiling_statistic | minus:1 %}
                            {% assign finalized_reporting = finalized_reporting | plus:1 %}
                          {% endif %}

                        {% endif %}
                    {% else %}
                        {% assign tier3 = tier3 | plus:1 %}
                    {% endif %}
                {% endif %}

            {% endfor %}

            {% assign indicators_count = indicators_count | round: 1 %}

            {% assign unsourced_percent = unsourced_data | divided_by:indicators_count | times:100 %}
            {% assign compiling_percent = compiling_statistic | divided_by:indicators_count | times:100 %}
            {% assign finalized_percent = finalized_reporting | divided_by:indicators_count | times:100 %}
            {% assign tier3_percent = tier3 | divided_by:indicators_count | times:100 %}

            <h4>{{ t.page-subtitle }} <span class="badge dark-badge">{{ indicators_count | round }} indicators</span></h4>

            <div class="container-fluid status-traffic-statbox">
              <div class="col-md-3">
                <span class="label label-default">{{ tier3 }}</span> {{ t.default-text }} <br>{{ tier3_percent | round }}%
              </div>
              <div class="col-md-3">
                <span class="label label-danger">{{ unsourced_data }}</span> {{ t.danger-text }} <br>{{ unsourced_percent | round }}%
              </div>
              <div class="col-md-3">
                <span class="label label-warning">{{ compiling_statistic }}</span> {{t.warning-text }} <br>{{ compiling_percent | round }}%
              </div>
              <div class="col-md-3">
                <span class="label label-success">{{ finalized_reporting }}</span> {{ t.success-text }} <br>{{ finalized_percent | round }}%
              </div>
            </div>

            <div class="usa-width-one-whole">
              <div class="progress progress-top" style="margin-top: 18px;">               
                <div class="progress-bar progress-bar-default" style="width:{{ tier3_percent }}%">
                  <span class="sr-only">{{ t.default-text }} {{ tier3_percent }}%</span>
                </div> 
                <div class="progress-bar progress-bar-danger" style="width:{{ unsourced_percent }}%">
                  <span class="sr-only">{{ t.danger-text }} {{ unsourced_percent }}%</span>
                </div>
                <div class="progress-bar progress-bar-warning" style="width:{{ compiling_percent }}%">
                  <span class="sr-only">{{t.warning-text }} {{ compiling_percent }}%</span>
                </div>
                <div class="progress-bar progress-bar-success" style="width:{{ finalized_percent }}%">
                  <span class="sr-only">{{ t.success-text }} {{ finalized_percent }}%</span>
                </div>
              </div>
            </div>
        </div>
    
        <div class="usa-grid initiative-description">

            <div class="goal-list">

            {% if page.lang == 'en' %}
              {% assign goals = site.data.sdg_goals %}
            {% else %}
              {% assign goals = site.data[page.lang].sdg_goals %}
            {% endif %}

            {% for goal in goals %}

                {% assign this_goal = goal.goal | plus:0 %}

                {% assign indicators_count = 0 %}

                {% assign unsourced_data = 0 %}
                {% assign compiling_statistic = 0 %}
                {% assign finalized_reporting = 0 %}
                {% assign tier3 = 0 %}

                {% assign unsourced_percent = 0 %}
                {% assign compiling_percent = 0 %}
                {% assign finalized_percent = 0 %}
                {% assign tier3_percent = 0 %}

                {% for indicator in site.indicators %}

                    {% if indicator.lang == site.defaults[0].values.lang %}
                        {% if indicator.sdg_goal == this_goal %}

                            {% assign indicators_count = indicators_count | plus:1 %}

                            {% if indicator.un_designated_tier != '3' %}
                                {% assign unsourced_data = unsourced_data | plus:1 %}

                                {% if indicator.source_url != nil and indicator.source_url != "" %}
                                  {% assign unsourced_data = unsourced_data | minus:1 %}
                                  {% assign compiling_statistic = compiling_statistic | plus:1 %}

                                  {% if indicator.graph != nil and indicator.graph != "" %}
                                    {% assign compiling_statistic = compiling_statistic | minus:1 %}
                                    {% assign finalized_reporting = finalized_reporting | plus:1 %}
                                  {% endif %}

                                {% endif %}
                            {% else %}
                                {% assign tier3 = tier3 | plus:1 %}
                            {% endif %}

                        {% endif %}
                    {% endif %}

                {% endfor %}

                {% assign indicators_count = indicators_count | round: 1 %}

                {% assign tier3_percent = tier3 | divided_by:indicators_count | times:100 %}
                {% assign unsourced_percent = unsourced_data | divided_by:indicators_count | times:100 %}
                {% assign compiling_percent = compiling_statistic | divided_by:indicators_count | times:100 %}
                {% assign finalized_percent = finalized_reporting | divided_by:indicators_count | times:100 %}

                {% assign indicators_count = indicators_count | round %}

                {% if this_goal < 10 %}
                    {% assign img_path = 0  %}
                {% else %}
                    {% assign img_path = ''  %}
                {% endif %}

                <a class="goal-progress" href="{{ site.baseurl }}{{ lang }}/{{ goal.short | slugify }}/">
                  
                  <div>

                    <div class="media usa-grid-full">

                      <div class="usa-width-one-sixth">
                        <div class="media-left">
                          <div>

                              <img class="media-object" src="{{ site.baseurl }}/assets/img/{{ page.lang }}/bw/{{ img_path }}{{ this_goal }}.png" width="75%" height="calc(1 * width)" alt="{{ goal.short}}">

                          <span class="sr-only">
                                {{ goal.title}}
                          </span>
                          </div>
                        </div>
                      </div> 

                      <div class="usa-width-five-sixths">



                         <div class="media-body">
<h4>{{ goal.short }} <span class="badge dark-badge">{{ indicators_count }} {{ t.indicators }}</span></h4>
                            <div class="container-fluid status-traffic-statbox">
                              <div class="col-md-3">
                                <span class="label label-default">{{ tier3 }}</span> {{ t.default-text }} <br>{{ tier3_percent | round }}%
                              </div>
                               <div class="col-md-3">
                                <span class="label label-danger">{{ unsourced_data }}</span> {{ t.danger-text }} <br>{{ unsourced_percent | round }}%
                              </div>
                              <div class="col-md-3">
                                <span class="label label-warning">{{ compiling_statistic }}</span> {{ t.warning-text }} <br>{{ compiling_percent | round }}%
                              </div>
                              <div class="col-md-3">
                                <span class="label label-success">{{ finalized_reporting }}</span> {{ t.success-text }} <br>{{ finalized_percent | round }}%
                              </div>
                            </div>

                            <div class="usa-width-one-whole">
                              <div class="progress">               
                                <div class="progress-bar progress-bar-default" style="width:{{ tier3_percent }}%">
                                  <span class="sr-only">{{ t.default-text }} {{ tier3_percent }}%</span>
                                </div> 
                                <div class="progress-bar progress-bar-danger" style="width:{{ unsourced_percent }}%">
                                  <span class="sr-only">{{ t.danger-text }} {{ unsourced_percent }}%</span>
                                </div>
                                <div class="progress-bar progress-bar-warning" style="width:{{ compiling_percent }}%">
                                  <span class="sr-only">{{ t.warning-text }} {{ compiling_percent }}%</span>
                                </div>
                                <div class="progress-bar progress-bar-success" style="width:{{ finalized_percent }}%">
                                  <span class="sr-only">{{ t.success-text }} {{ finalized_percent }}%</span>
                                </div>
                              </div>
                            </div>

                          </div>

                        </div>
                      </div>

                    </div>
                  </a>
            {% endfor %}

        </div>
      
    </div>
    
{% include footer.html %}
